.question{
display: flex;
}

.estado-contenedor{
    display: flex;
    justify-content: center;
    width: 20%;
    margin-right: 10px;

}

.contenedor-pregunta{
    width: 80%;

}

#votos p,
#respuestas p,
#vistas p{
    margin: 5px;
    font-size: 13px;
    text-align: center;
}